/***** Reset CSS ***************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
}

/***** Formatações em Geral ****************************************/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

.clearfix {
    clear: both;
}

/***** Menu ********************************************************/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

#area-cabecalho a:link, a:visited {
    color: #ffffff;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background-color: #ffffff;
}

/***** Principal ***************************************************/

#area-principal {
    width: 920px;
    padding: 15px;
    margin: 0 auto;
}

#area-postagens {
    width: 640px;
    float: left;
}

#area-lateral {
    width: 230px;
    float: right;
}

/***** Postagens ***************************************************/

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.postagem h2 {
    color: #f7b600;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin: 10px 0;
    color: #ccc;
    display: block;
    mst
}

.postagem img {
    width: 600px;
}

.postagem p {
    margin: 10px 0 20px 0;
}

.postagem a {
    background-color: #f7b600;
    color: #ffffff;
    padding: 8px 12px;
}

.postagem a:hover {
    background-color: #ffffff;
    color: #f7b600;
}

/***** Postagens lateral *******************************************/

#area-lateral h3 {
    background-color: #ccc;
    color: #4e4e4e;
    padding: 5px;
}

.postagem-lateral {
    padding: 8px;
    background-color: #ffffff;
}

.postagem-lateral p {
    color: #4e4e4e;
    margin: 7px 0;
}

.conteudo-lateral {
    margin-bottom: 20px;
}

.conteudo-lateral a {
    color: #f7b600;
    margin-bottom: 5px;
    display: block;
}

/***** Rodapé ******************************************************/

#rodape {
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}