* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #e6e6e6;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.top-menu {
    width: 100%;
    background-color: #f7b600;
}

.top-menu .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-menu .container h1 {
    width: 100%;
    text-align: center;
    color: #4e4e4e;
    padding: 20px;
    font-size: 2.2rem;
}

.top-menu .container a {
    color: #4e4e4e;
}

.top-menu nav {
    margin-bottom: 20px;
}

.top-menu .container nav ul li {
    float: left;
}

.top-menu .container nav ul li a {
    padding: 10px 20px;
    color: #fff;
    display: block;
}

.top-menu .container nav ul li a:hover {
    color: #4e4e4e;
    background-color: white;
}

.main {
    margin-top: 20px;
}

.main .container {
    align-items: flex-start;
    justify-content: space-between;
}

.main .container .posts-area {
    width: 65%;
    margin-right: 40px;
}

.main .container .sidebar {
    width: 30%;
}

.main .container .posts-area article,
.main .container .sidebar article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.main .container .posts-area article img {
    width: 100%;
}

.main .container .posts-area article h2 {
    color: #f7b600;
}

.main .container .posts-area article h4 {
    color: #808080;
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 400;
}

.main .container .posts-area article p {
    color: #4e4e4e;
    margin-bottom: 20px;
    margin-top: 5px;
}

.main .container .posts-area article a {
    color: #fff;
    background-color: #f7b600;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
}

.main .container .sidebar article h3 {
    background-color: #CCC;
    color: #565656;
    padding: 5px;
    margin-bottom: 10px;
}

.main .container .sidebar article a {
    color: #f7b600;
    display: block;
    margin-bottom: 10px;
}

.main .container .sidebar .recent-posts a {
    border-bottom: 1px dashed #ccc;
    display: block;
    padding-bottom: 10px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #CCC;
    padding: 20px;
}

@media (max-width: 1024px) {

    .main .container .posts-area {
        width: 100%;
        margin-right: 0;
    }
    
    .main .container .sidebar {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .main .container {
        width: 95%;
    }

    .top-menu .container nav ul li {
        width: 100%;
    }

    .top-menu .container nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }
}